.order-form{
    background-color: #E5E5E5;
    padding-bottom: 100px;
}
.input-text{
    height: 60px !important;
    width: 570px !important;
}
.details-text{
    width: 570px !important;
}
.order-btn{
    width: 271px !important;
    height: 60px !important;
}
.user-name{
    padding-left: 800px;
}
.price-text{
    height: 60px !important;
    width: 284px !important;
}